.category_container {
  width: 100vw;
  height: calc(100vh - 100rpx);
  margin-top:100rpx ;
  display: flex;
  justify-content: space-between;

  .category_menu {
    width: 200rpx;
    height: 100%;
    background: #eee;
  }

  .category_content {
    flex: 1;
  }
}